/* global */
body {
  margin: 0px;
}
a {
  color: #ECC30B;
  text-decoration: none;
}

/* .f-left {
  float: left;
} */

/* ini header */
header{
  margin: -20px;
  background-color: #ECC30B;
  height: 20%;
  border-bottom: dashed 30px #29335C;
}

header .text-judul {
  text-align: center;
  padding: 20px;
}
header h1 {

  font-weight: bold;
}


/* jumbotron */
.jumbotron {
  margin: 0 -10px;
  margin-top: 20px;
  background-color: #29335C;
  overflow: hidden;
}

.jumbotron .fotonama{
  padding: 50px;
  text-align: center;
}

.jumbotron img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.jumbotron p {
  font-size: 25px;
  font-weight: bold;
  color: #ECC30B;
  text-shadow: 2px 0px 4px orange;
}

/* kontent */
.kontent {
  margin: auto;
  border-bottom: dashed 30px #29335C;
}

.kontent .ceritasaya {
  text-align: center;
  position: relative;
  width: 60%;
  padding: 20px;
  margin:auto;
}

.kontent .ceritasaya h5 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.kontent .informasipribadi {
  width: auto;
  margin: auto;
  text-align: center;
  padding: 20px;
}

/* footer */
footer {
  padding-top: 15px;
  width: 100%;
  background-color: #29335C;
  padding-bottom: 10px;
  text-align: center;
}

footer h5 {
  text-align: center;
  font-size: 40px;
  color: #ECC30B;
}

footer p {
  color: #ECC30B;
}

footer .sosial-hub {
  overflow: auto;
  /* left: 30%; */
}

.menu ul {
    padding: 0;
}
.menu ul li {
    padding: 20px;
    display: inline-block;
}
.menu ul li a {
padding: -50px 0px;
}
